
.center_menu
{
    position:absolute;
    bottom:0px;
    z-index:2;
    bottom:0px;
    width:100%;
    text-align:center;
    background:#333;
    color:#828282;
    height:4rem;
    line-height:4rem;
    white-space:nowrap;
    border-top:1px solid #333;
}
.center_menu div
{
    display:inline-block;
    vertical-align:top;
    padding:0px 0rem;
    height:4rem;
    width:5.4rem;
    line-height:4rem;
}
.center_menu.with_labels
{
    height:5rem;
    line-height:5rem;
}
.center_menu.with_labels div
{
    line-height:4rem;
    height:5rem;
}
.center_menu div.disabled
{
    opacity:0.3;
}


.center_menu div.active,
.center_menu div:active
{
    background:#298BEE;
}
.center_menu_single
{
    z-index:5;
}

.center_menu span.updating
{
    color:#555;
}

.center_menu span.button_text
{
    display:none;
}
.center_menu.with_labels span.button_text,
.center_menu span.button_text_force
{
    display:block;
    position:absolute;
    left:0px;
    bottom:0.2rem;
    width:100%;
    margin:0px;
    padding:0px;
    line-height:2rem;
    height:2rem;
    font-size:1rem;
}

.center_menu div.more_btn_num
{
    display:block;
    position:absolute;
    bottom:100%;
    height:0rem;
    background:#333;
    border-radius:1rem 1rem  0px 0px;
    font-size:1.8rem;
    overflow:hidden;
    transition:height ease 0.5s 0s;
}
.center_menu div.more_btn_num.visible
{
    height:3rem;
}
