
/* Add custom lib css */
@import 'colors.css';
@import 'font-awesome.min.css';

@import 'header.css';
@import 'alert.css';
@import 'common.css';
@import 'selector.css';
@import 'accounts.css';
@import 'files.css';
@import 'center_menu.css';
@import 'settings.css';


/* Avoid text selection */
*
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.fa
{
    vertical-align:middle;
}

html, body {
    font-size:10px;
    font-family:Verdana, sans-serif;
    margin: 0;
    padding: 0rem;
    height:100%;
    overflow-x:hidden;
    background:white;
    text-align:center;
}

ul, li, p, h1, h2
{
    margin:0px;
    padding:0px;
}
body {
  font-size: 1rem;
  background: #fff;
}
div, p , ul, li, table, tr, td, h1, h2, h3, h4, input, dl, dt, dd
{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
.fa
{
    font-size:1.9rem;
}

h1 {
  margin: 0 0 0rem 0;
}

p {
  font-size: inherit;
}
.hidden
{
    display:none !important;
}


