.settings
{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    width:100%;
    overflow:hidden;
    background:white;

    z-index:3;
    transition:left 0.5s ease 0s;
    left:100%;
    font-size:0px;
    text-align:left;
}
.settings_content
{
    position:absolute;
    width:100%;
    top:5rem;
    bottom:0px;
    overflow-x:hidden;
    overflow-y:auto;
}
.settings.focused
{
    left:0%;
}
form,
fieldset,
legend
{
    display:block;
    border:none;
    margin:0px;
    padding:0px;
    white-space:normal;
    text-align:left;
}

form
{
    font-size:1.7rem;
    padding: 0px 1.5rem;
}
form p
{
    margin:0.8rem 0rem;
}

legend,
legend.fa
{
    width: 100%;
    box-sizing: border-box;
    font-size: 1.6rem;
    margin: 0px 0px 0rem;
    padding: 0px 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 5rem;
    line-height: 5rem;
    color: #000;
    background:#ebebeb;
    border-radius: 0px;
}
fieldset form
{
    color:#000;
    padding:0.5rem 1rem;
    margin:0px;
}

legend:before
{
    display:inline-block;
    width:3.1rem;
}
fieldset.toggle form
{
    display:none;
}
fieldset.opened legend
{
}
fieldset.opened form
{
    display:block;
    background:white;
}

.form_text
{
    font-size:1.3rem;
}
form p
{
    position:relative;
}

form input,
form select
{
    display:block;
    line-height:1.5em;
    margin:0.5em auto;
    -moz-appearance:none;
    background:none;
}
form select
{
    margin:0.5em 0px;
}

input:invalid,
input[type="email"]:invalid,
input[type="number"]:invalid
{
    color:red;
    border:1px solid red;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
textarea,
select
{
    width:100%;
    height:4rem;
    line-height:4rem;
    padding:0px 1.5rem;
    font-size:1.6rem;
    border:0.1rem solid #b0b0b0;
    border-radius:0px;
    box-shadow:none;
    margin:0px 0px 1rem;
    background:white;
    color:black;
}

.line_input input,
.line_select select
{
    padding-right:3em;
    line-height:3.3rem;
    height:3.3rem;
    font-size:1.3rem;
    padding-left:0.2em;
    width:100%;
}

.line_input span,
.line_select span
{
    display:block;
    font-size:1.3rem;
}
.line_select span::before
{
    position:absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);
    font-size:1.3em;
    color:black;
}

.bb-button
{
    display:inline-block;
    width:100%;
    height:4rem;
    line-height:4rem;
    text-decoration:none;
    border-radius:4rem;
    text-align:center;
    font-size:1.6rem;
    border:none;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:black;
}


.line_checkbox
{
    line-height:2em;
    margin:0.5em 0px;
}
.line_checkbox input
{
    display:inline-block;
    vertical-align:middle;
    height:2rem;
    width:2rem;
}

.line_input label,
.line_select label,
.line_checkbox label
{
    display:inline-block;
    vertical-align:middle;
    margin-left:1rem;
    line-height:2rem;
    font-size:1.5rem;
    width:calc(100% - 4rem);
}

.line_input label,
.line_select label
{
    margin-left:0px;
}

.settings dl
{
    margin:0.5em 0px;
    font-size:1.4rem;
}
.settings dt,.settings  dd
{
    display:inline-block;
}
.settings dt
{
    width:12rem;
}
.settings dl a
{
    color:#000;
}

.bb-grey
{
    background:#e0e0e0;
    color:#000;
}
.bb-recommend
{
    background:var(--header-background);
    color:#fff;
}
.bb-delete
{
    background:red;
    color:#fff;
}

.warn_message
{
    color:red;
}
.warn_message.valid
{
    visibility:hidden;
}
